/****************
* global vars
****************/
$header_black: #404040;
$h1_font: bold 2em arial;
$error: #D2312A;

/****************
* global mixins
****************/
@mixin headers {
	padding: .5em 0;
	text-align: center;
}

/****************
* element styles
****************/
a {
	text-decoration: none;
	color: #333;
}
body {
	font-family: arial;
	overflow-x: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		float: right;
	}
}

h1 {
	@include headers;
	font: $h1_font;
	color: $header_black;
	clear: both;
}

h3 {
	@include headers;
}

input {
	outline: none;
	display: block;
}

input[type="submit"] {
	background-color: #4078c0;
	border: none;
	border-bottom: .5em solid #4061C0;
	&:hover {
		cursor: pointer;
	}
	&:active {
		background-color: #4061C0;
	}
}
hr {
	box-sizing: border-box;
	border: .1em solid #777;
	margin: 1em .25em;
}

p {
	font-size: 1em;
}