<div class="login-aside" show-login>
    <h3>Login</h3>
    <form>
        <input type="email" ng-model="forms.login.email" name="login-email" placeholder="email">
        <input type="password" ng-model="forms.login.password" name="login-password" placeholder="password">
        <input type="submit" id="login-btn" value="Submit">
    </form>
    <hr>
    <h3>Register</h3>
    <!-- TODO: add ng-submit directive that will be called by form-validation directive -->
    <form form-validate>
    	<p class="form-error">{{ message.error }}</p>
        <input type="email" ng-model="forms.register.email" name="register-email" placeholder="email">
        <input type="password" ng-model="forms.register.password" name="register-password" placeholder="password" ng-minlength="6">
        <input type="password" ng-model="forms.register.passwordVerify" name="password-verify" placeholder="password verify" ng-minlength="6">
        <input type="submit" id="register-btn" value="Submit" >
    </form>
</div>
