<div class="nav">
    <ul>
        <li ui-sref-active="active">
            <a ui-sref="main.about">About</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="main.contact">Contact</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="main.index">Home</a>
        </li>
        <li>
            <a href="#" id="toggle-login" ng-click="toggleLogin()" ng-show="loggedIn">Login</a>
        </li>
        <li>
            <a href="#" id="toggle-login" ng-click="logout()" ng-hide="loggedIn">Logout</a>
        </li>
    </ul>
</div>
